<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <root level="info">
        <appender-ref ref="FILE" />
    </root>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>your-log-file.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>