<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>
<body>

<p>Список категорий</p>
<div th:each="el : ${categories}">
    <h3 th:text="${el.name}"/>
</div>
<form action="/category" method="post">
    <div class="input-group-lg input-group p-5">
        <input type="text" name="name" placeholder="Назание" > <br><br>
        <button type="submit" class="btn btn-success" >Добавить </button> <br><br>
    </div>
</form>
<table class="table table-sm container">
    <h1 class="container">Список магазинов</h1>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>

    </tr>
    </thead>
    <tbody th:each="el : ${organization}">
    <tr>
        <th><a href="/products"><img th:src="${el.urlForImg}" style="max-width: 50px" ></a></th>
        <th th:text="${el.name}" scope="col" class="table-danger"></th>
        <th th:text="${el.adress}" ></th>
        <th th:text="${el.mail}"></th>
        <th th:text="${el.phone}"></th>
    <tfoot></tfoot>
    </tr>
    </tbody>
</table>
<div>
    <a type="button" class="btn " href="/products">Вернуться на главную</a>
</div>

</body>
</html>
