<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>
<body>

<p>Список едениц измерения</p>
<div th:each="el : ${units}">
    <h3 th:text="${el.name}"/>
</div>
<form action="/unit/add" method="post">
    <div class="input-group-lg input-group p-5">
        <input type="text" name="name" placeholder="Назание" > <br><br>
        <button type="submit" class="btn btn-success" >Добавить </button> <br><br>
    </div>
</form>
<div>
    <a type="button" class="btn " href="/products">Вернуться на главную</a>
</div>

</body>
</html>
